@media screen and (max-width: 320px) {
  header .logo h1 {
    font-size: 20px;
    line-height: 40px; }
  .section-small .content-block {
    padding: 0px 5px; }
    .section-small .content-block-title h1 {
      font-size: 20px; }
    .section-small .content-block-title:before, .section-small .content-block-title:after {
      width: 80px; }
    .section-small .content-block-title:before {
      left: 101%; }
    .section-small .content-block-title:after {
      left: -58%; }
    .section-small .content-block-text {
      padding: 20px; }
  .picture-menu li {
    width: 100%; }
    .picture-menu li:nth-child(2), .picture-menu li:nth-child(5) {
      width: 100%; }
    .picture-menu li .caption {
      font-size: 15px; }
  .block-what-we-do img {
    margin: 0px 20px 18px; } }
